{% extends 'home.html.twig' %}

{% block main %}
    <h1 class="text-center mt-3 mb-4">Results</h1>
    <div class="container">
        <table class="datagrid w-100">
            <thead>
            <tr>
                <td class="text-center"><b>Ticket id</b></td>
                <td class="text-center"><b>event</b></td>
                <td class="text-center"><b>played combination</b></td>
                <td class="text-center"><b>event combination</b></td>
                <td class="text-center"><b>matched numbers</b></td>
            </tr> 
            </thead> 
            <tbody>
             <hr>
                {% for key, ticket in userAndTickets.getTickets  %}
                    <tr>
                        <td class="text-center">{{ ticket.getId }}</td>
                        <td class="text-center">{{ ticket.getGameRound.getName }}</td>
                        <td class="text-center">
                            {% for key, number in ticket.getCombination.getNumbers %}
                                    {{number}}
                            {% endfor %}
                            
                        </td>
                        <td class="text-center">
                            {% if ticket.getGameRound.getDrawnCombination|length > 0  %}
                                {% for number in ticket.getGameRound.getDrawnCombination %}
                                    {{ number }}
                                {% endfor %}
                            {% else %}
                            <span>/</span>
                            {% endif %}
                        </td>
                        <td class="text-center">
                            {% if ticket.getResult.getMatchedCombination is defined  %}

                                {% for number in ticket.getResult.getMatchedCombination %}
                                    {{ number }}
                                {% endfor %}
                            {% else %}
                                <span>/</span>
                            {% endif %}
                        </td> 
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}